body {
  font-family: Open Sans, sans-serif;
  background-color: #f6f4f4;
}

code {
  font-family: Courier New;
  color: #8f8f8f;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
}

.App-header {
  display: flex;
  align-items: center;
  margin: 100px;
  color: #333333;
}

.App-intro {
  font-size: large;
  color: #444;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}