html {
  overflow-y: scroll;
}
html, body {
	margin: 0;
	padding: 0;
  font-size: 14px;
  line-height: 1.3125;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
}
@media screen and (min-width: 360px) {
  html, body {
    font-size: 15px
  }
}
@media screen and (min-width: 600px) {
  html, body {
    font-size: 16px
  }
}

h1, h2, p {
	font: inherit;
	font-size: 100%;
	margin: 0;
}
